.about-container {
  width: 100%;
  padding-top: 10%;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../assets/marketingImg/BG.jpeg');
 background-size: fit;
  
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (max-width: 810px) {
    padding-top: 20%;
  }

  @media (max-width: 576px) {
    padding-top: 20%;
  }

  .about-content {
    display: flex;
    margin: 0 5rem;

    @media (max-width: 1600px) {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    @media (max-width: 810px) {
      display: flex;
      flex-direction: column;
    }

    .about-video {
      .about-video-video {
        border-radius: 20px;
        width: 600px;

        @media (max-width: 810px) {
          width: 400px;
        }

        @media (max-width: 576px) {
          width: 200px;
        }
      }
    }

    .about-text {
      color: white;
      font-size: 2.5rem;
      padding-left: 40px;

      h1{
        font-size: 7rem;
      }

      @media(max-width:1200){
        .about-text{
          p{
            font-size: 1rem;
          }
        
        }
        h1{
          font-size: 5rem;
        }

      }

      @media (max-width: 900px) {
        .about-text{
          p{
            font-size: 1rem;
          }
         
          }
        h1{
          font-size: 3rem;
        }
      }

      @media (max-width: 810px) {
        padding-left: 0;
        font-size: 1rem;
      }

      @media (max-width: 576px) {
        padding-left: 0;
        font-size: 0.8rem;
      }
    }
  }
}
